doctype html
html
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/style.css")
  body
    h1 Custom Object Records
    a(href="/update-cobj") Add/Update this table
    table
      thead
        tr
          th Car Name
          th Car Price
          th Car Color
      tbody
        each record in customObjectData
          tr
            td #{record.properties.hs_createdate} // Adjust these property names to match your custom object properties
            td #{record.properties.hs_lastmodifieddate}
            td #{record.properties.hs_object_id}
